.header{
    background-color: rgb(78, 175, 100);
    border: 1px solid black;
    height: 7rem;
    text-align:center;
    

}

.logo{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 3rem;
}
    
.productos{
       color: aliceblue;
       text-decoration: none;
      
       

       


    


    
}